@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

$font-primary: "Outfit", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-gray;
  flex-direction: column;
}

.container {
  background-color: $white;
  border-radius: 10px;

  .content {
    width: 300px;

    .image_container {
      width: 300px;
      height: 300px;

      .image {
        width: 280px;
        height: 280px;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }

    .text-container {
      margin-top: 20px;

      .bloc1,
      .bloc2 {
        text-align: center;
        font-family: $font-primary;
        margin: 20px;

        .heading-1 {
          color: $dark-blue;
          font-weight: 700;
          font-size: 20px;
        }

        .paragraph {
          font-size: 15px;
          color:$grayish-blue;
        }
      }
    }
  }
}
